.btn {
  padding: 10px;
  transition: all 0.4s ease-in-out;
  min-width: 100px;
}
.btn-primary {
  background-color: $background-main;
  @include borderRadius(2px);
  color: $text-btn-default;
  &:hover {
    color: $text-btn-hover;
    background-color: $color-hover-default;
  }
}
.btn-more {
  padding: 3px 35px 5px;
  border: 2px solid #29487d;
  font-size: 20px;
  background: #29487d;
  color: #fff;
  font-weight: 600;
  outline: none !important;
  transition: all 0.4s ease;
  &:hover{
    background: transparent;
    color: #29487d;
  }
}
.btn-sign-up {
  padding: 3px 25px 5px;
  border: 1px solid #fff;
  font-size: 16px;
  background: #29487d;
  color: #fff;
  outline: none !important;
  transition: all 0.4s ease;
  &:hover{
    background: transparent;
    color: #fff;
  }
}
