.btn {
  padding: 10px;
  transition: all 0.4s ease-in-out;
  min-width: 100px;
  @include borderRadius(2px);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .14), 0 1px 7px 0 rgba(0, 0, 0, .12), 0 3px 1px -1px rgba(0, 0, 0, .2);
  }
}
.btn-primary {
  background-color: $background-main;
  color: $text-btn-default;
  &:hover {
    background-color: $color-hover-default;
  }
}
.btn-light {
  background-color: $color-back;
  color: $color-main;
  &:hover {
    background-color: $color-hover-back;
  }
}
.btn-info {
  background-color: $color-info;
  color: $text-btn-default;
  &:hover {
    background-color:$color-hover-info;
  }
}
.btn-border {
  padding: 9px;
  border: 1px solid $color-dark-5;
  &:hover {
    border: 1px solid $color-dark-9;
    background-color: $color-white-5;
  }
}

.btn-more {
  padding: 3px 35px 5px;
  border: 2px solid #29487d;
  font-size: 20px;
  background: #29487d;
  color: #fff;
  font-weight: 600;
  outline: none !important;
  transition: all 0.4s ease;
  &:hover{
    background: transparent;
    color: #29487d;
  }
}
.btn-sign-up {
  padding: 3px 25px 5px;
  border: 1px solid #fff;
  font-size: 16px;
  background: #29487d;
  color: #fff;
  outline: none !important;
  transition: all 0.4s ease;
  &:hover{
    background: transparent;
    color: #fff;
  }
}
