.bg-header{
  max-width: 1440px;
  min-height: 41px;
  margin: 0 auto;
}
.input-search {
  max-width: 800px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $color-dark-5;
    color: #fff;
  }
}
.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 41px;
  z-index: 1;
  align-items: center;
  background: $color-dark-6;
  .menu-item {
    text-align: center;
    flex-basis: 10%;
    -webkit-flex-basis: 10%;
    max-width: 200px;
    min-width: 100px;
    width: 100%;
  }
  .show-menu-dk {
    display: block;
    width: 90%;
  }
  .menu-dk {
    display: flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    flex-basis: 90%;
    -webkit-flex-basis: 90%;
  }
  a {
    color: #fff;
    h3 {
      margin: 0;
    }
  }
}
.c-search {
  position: relative;
  label {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.avatar {
  position: relative;
  img {
    border-radius: 50%;
  }
  .c-online {
    position: absolute;
    top: 2px;
    border: 1px solid #fff;
    right: -2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1c7430;
  }
}
@media screen and (max-width: 768px) {

  .menu-bar {
    .show-menu-dk {
      display: none;
      width: 100%;
    }
    .menu-dk{
      width: 100%;
      position: absolute;
      right: 0;
      top: 50px;
      text-align: center;
      display: flex;
      -webkit-display: flex;
      flex-direction: row;
      -webkit-flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      justify-content: initial;
      -webkit-justify-content: initial;
      flex-basis: 100%;
      -webkit-flex-basis: 100%;
      a{
        flex-basis: 50%;
        -webkit-flex-basis: 50%;
        max-width: 50%;
        background: rgba(0, 0, 0, 0.6);
        height: 60px;
        line-height: 60px;
        border: 1px solid #fff;
      }
    }
  }

  .menu-mb{
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    width: 60px;
    height: 100%;
    span{
      position: absolute;
      width: 30px;
      height: 2px;
      background: #fff;
      top: calc(50% - 1px);
      left: calc(50% - 15px);
      transition: 0.2s;
    }
    span:nth-child(1){
      transform: translateY(-10px);
    }
    span:nth-child(3){
      transform: translateY(10px);
    }
    &.active span:nth-child(1){
      transform: translateY(0px) rotate(-45deg);
    }
    &.active span:nth-child(3){
      transform: translateY(0px) rotate(45deg);
    }
    &.active span:nth-child(2){
      transform: translateX(-30px);
      opacity: 0;
    }
  }

}
