// customized css library primereact

// select
body .p-dropdown {
  width: 100%;
  @include rem(padding, 2);
}

// caledar
.p-calendar {
  width: 100%;
}
body .p-datepicker table {
  th {
    @include rem(padding, 0);
  }
  td {
    @include rem(padding, 0);
    > span {
      padding: 0;
    }
  }
}
