.login-page {
  margin: 0 auto;
  padding: 60px 0 50px;
  max-width: 400px;
  width: 100%;
}
.card {
  margin: 0 15px;
  padding: 30px;
  background-color: $color-dark-5;
  @include borderRadius(2px);
}
.card-header {
  border-bottom: 1px solid $color-white-7;
  margin-bottom: 15px;
}
.card-footer {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid $color-white-7;
}
.social_icon {
  position: absolute;
  right: -5px;
  top: -60px;
  span {
    font-size: 60px;
    margin-left: 10px;
    color: $text-btn-default;
    transition: all 0.3s;
    &:hover {
      color: $color-hover-default;
      cursor: pointer;
    }
  }
}
.form-group-login {
  input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.input-group-prepend {
  height: 40px;
  width: 50px;
  background-color: $background-main;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  span {
    border:0;
  }
}

