.login-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
}
.card{
  padding: 30px;
  background-color: $background-dark-5;
  @include borderRadius(5px);
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -32px;
  span {
    font-size: 60px;
    margin-left: 10px;
    color: $color-main;
    transition: all 0.3s;
    &:hover {
      color: $color-white;
      cursor: pointer;
    }
  }
}
.form-group-login {
  input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.input-group-prepend {
  height: 40px;
  width: 40px;
  background-color: $background-main;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  span {
    border:0;
  }
}

.remember input
{
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  background-color: $background-main;
  width: 100px;
  transition: all 0.3s;
  &:hover {
    color: #000;
    background-color: $background-white-9;
  }
}
