.module {
  background: rgb(250, 250, 251);
  margin: 0 auto;
  @include borderRadius(2px);
}
.content-review {
  .title-textarea {
    height: 42px;
    width: 100%;
    border: 1px solid $color-border;
    border-bottom: 0;
    background-color: $background-content;
  }
  .question-body {
    border: 1px solid $color-border;
    background-color: $background-content;
    max-height: 500px;
    padding: 5px 11px;
    overflow: scroll;
  }
  textarea {
    @include borderRadiusBottom(2px);
  }
}

