// only custom component UserProfile
.user-container {
  color: $color-dark-9;
  p {
    @include rem(margin-bottom, 0);
  }
  .end-date {
    @include rem(line-height, 40);
  }
}
.responsive-user {
  @include rem(padding-right, 0);
}

.box-content {
  &--user {
    background: $background-content;
    @include borderRadius(2px);
    .experience {
      &--icon {
        font-size: 30px;
        fill: $color-icon;
        transition: background-color 0.4s ease;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        &:hover {
          background-color: rgba(152, 216, 244, 0.25);
        }
        svg {
          @include center-align-absolute();
        }
      }
      &--add {
        position: absolute;
        top: 16px;
        right: 20px;
      }
      &--edit {
        position: absolute;
        right: -5px;
        top: 0;
      }
    }
  }
  &--info {
    display: flex;
    display: -webkit-flex;

    .logo-company {
      flex-basis: 20%;
      -webkit-flex-basis: 20%;
      width: 80%;
    }

    .content-info {
      flex-basis: 80%;
      -webkit-flex-basis: 80%;
      width: 80%;
      border-top: 1px solid $color-default;
    }

    &:first-of-type {
      .content-info {
        border: none;
      }
    }
  }

  &--education {
    @include borderRadiusBottom(2px);
  }
}

.profile-background-image {
  @include rem(height, 300);
  width: 100%;
}

.info-user {
  background: $background-content;
  .avatar-user {
    box-shadow: inset 0 1.5px 3px 0 rgba(0, 0, 0, 0.15), 0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
    @include rem(width, 180);
    @include rem(height, 180);
    @include rem(margin, 0, auto);
    @include borderRadius(50%);
    position: absolute;
    @include rem(top, -90);
    left: 50%;
    transform: translateX(-50%);
    img {
      @include borderRadius(50%);
    }
  }
  .title-user-info {
    @include rem(padding-top, 100);
  }
  .follow {
    @include rem(margin, 15, -15, 0, -15);
    @include rem(padding-bottom, 10);
    .follow-number {
      @include rem(font-size, 20);
      color: $color-main;
    }
  }
  .shell-info {
    @include rem(margin, 0, -15, 0, -15);
    .title-info {
      border-top: 1px solid $color-border;
      @include rem(padding, 8, 16);
      font-weight: 700;
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);
    }
    i {
      
    }
  }
}

@media screen and (max-width: 991px) {
  .responsive-user {
    @include rem(padding-right, 15);
  }
}
