.register {
  background: rgba(0,0,0,0.5);
  padding: 15px;
  max-width: 500px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
  h2 {
    margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:30px;
    border-bottom:solid 1px #e5e5e5;
  }
  .create-account {
    display: block;
    background: #FFC312;
    transition: all 0.3s;
    &:active {
      background: rgba(255, 255, 255, 0.9);
      box-shadow: none;
    }
  }
}
