/*
  custom width and height
 */

// width %
.width-10 {
  width: 10%;
}
.width-20 {
  width: 20%;
}
.width-30 {
  width: 30%;
}
.width-40 {
  width: 40%;
}
.width-50 {
  width: 50%;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.width-90 {
  width: 90%;
}
.width-100 {
  width: 100%;
}

// max-width
.max-width-50 {
  max-width: 50px;
}
.max-width-100 {
  max-width: 100px;
}
.max-width-150 {
  max-width: 150px;
}
.max-width-200 {
  max-width: 200px;
}
.max-width-250 {
  max-width: 250px;
}
.max-width-300 {
  max-width: 300px;
}
.max-width-350 {
  max-width: 350px;
}
.max-width-400 {
  max-width: 400px;
}
.max-width-450 {
  max-width: 450px;
}
.max-width-500 {
  max-width: 500px;
}
.max-width-550 {
  max-width: 550px;
}
.max-width-600 {
  max-width: 600px;
}
.max-width-650 {
  max-width: 650px;
}
.max-width-700 {
  max-width: 700px;
}
.max-width-750 {
  max-width: 750px;
}
.max-width-800 {
  max-width: 800px;
}
.max-width-850 {
  max-width: 850px;
}
.max-width-900 {
  max-width: 900px;
}
.max-width-950 {
  max-width: 950px;
}
.max-width-1000 {
  max-width: 1000px;
}

// min-width
.min-width-50 {
  min-width: 50px;
}
.min-width-100 {
  min-width: 100px;
}
.min-width-150 {
  min-width: 150px;
}
.min-width-200 {
  min-width: 200px;
}
.min-width-250 {
  min-width: 250px;
}
.min-width-300 {
  min-width: 300px;
}
.min-width-350 {
  min-width: 350px;
}
.min-width-400 {
  min-width: 400px;
}
.min-width-450 {
  min-width: 450px;
}
.min-width-500 {
  min-width: 500px;
}
.min-width-550 {
  min-width: 550px;
}
.min-width-600 {
  min-width: 600px;
}
.min-width-650 {
  min-width: 650px;
}
.min-width-700 {
  min-width: 700px;
}
.min-width-750 {
  min-width: 750px;
}
.min-width-800 {
  min-width: 800px;
}
.min-width-850 {
  min-width: 850px;
}
.min-width-900 {
  min-width: 900px;
}
.min-width-950 {
  min-width: 950px;
}
.min-width-1000 {
  min-width: 1000px;
}

// height %
.height-100vh {
  height: 100vh;
}
.height-10 {
  height: 10%;
}
.height-20 {
  height: 20%;
}
.height-30 {
  height: 30%;
}
.height-40 {
  height: 40%;
}
.height-50 {
  height: 50%;
}
.height-60 {
  height: 60%;
}
.height-70 {
  height: 70%;
}
.height-80 {
  height: 80%;
}
.height-90 {
  height: 90%;
}
.height-100 {
  height: 100%;
}
