/*
++++++++++++++++++++++++++++++++
@font-face
++++++++++++++++++++++++++++++++
*/
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  /* Safari, Android, iOS */
}
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-SemiBold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
  /* Safari, Android, iOS */
}
body {
  min-height: 100vh;
}
.bg-unauthenticated {
  background: url('../resources/images/bg.jpg') center center / 100% 100% no-repeat;
  width: 100%;
  min-height: calc(100vh - 85px);
}

.flex-center {
  @include center-align-flex();
}
.p-absolute-center {
  @include center-align-absolute();
}
a {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  width: 100%;
  outline: none;
  margin: 0;
  &[type="text"], &[type="password"]{
   margin: 0;
  }
}
input:focus{
  outline: 0 !important;
  box-shadow: 0 0 0 0 !important;
}
button {
  outline: none;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
@media screen and (max-width: $screen-lg) {
  .bg-unauthenticated {
    min-height: calc(100vh - 145px);
  }
}
