.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-box-title {
    position: relative;
    bottom: -100px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.text-bold {
    font-weight: bold;
}
.img-fit-cover {
    object-fit: cover;
}
.story-image-link img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.story-image-link-small img {
    height: 150px;
}
.profile-box .profile-box-footer {
    background: #ffffff;
    box-shadow: 0 -5px 5px -5px #333;
    color: #4b4f56
}
.reset-to-default-btn .btn {
    border: 1px solid transparent;
}
.user-left-box-custom img {
    width: 100% !important;
    height: 150px;
    object-fit: cover;
}
.block-with-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}