// custom color
// background-color
  $background-main: #2d6ff7;
  $background-dark-3: rgba(0,0,0,0.3);
  $background-dark-5: rgba(0,0,0,0.5);
  $background-dark-6: rgba(0,0,0,0.6);
  $background-dark-7: rgba(0,0,0,0.67);
  $background-dark-9: rgba(0,0,0,0.9);
  $background-white-3: rgba(255,255,255,0.3);
  $background-white-5: rgba(255,255,255,0.5);
  $background-white-6: rgba(255,255,255,0.6);
  $background-white-7: rgba(255,255,255,0.7);
  $background-white-9: rgba(255,255,255,0.9);

//color
  $color-main: #2d6ff7;
  $color-white: #fff;
