.no-suggestions {
    color: #999;
    padding: 0.5rem;
}

.suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    max-height: 150px;
    overflow-y: auto;
    background: #fff;
}

.suggestions li {
    padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
    background-color: #2d6ff7;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
}

.suggestions li:not(:last-of-type) {
    /*border-bottom: 1px solid #999;*/
}